<script>window.userToken = "<%= @user %>"</script>
<ul id='msg-list' class='row' style='list-style: none; min-height:200px; padding: 10px;'></ul>
<div class="row">
  <div class="col-xs-2">
    <input type="text" id="from" class="form-control" placeholder=<%= String.capitalize @user %> disabled>
  </div>
  <div class="col-xs-2">
    <select id="to" class="form-control">
      <option>None</option>
      <select/>
  </div>
  <div class="col-xs-8">
    <input type="text" id="msg" class="form-control" placeholder="Your Message" autofocus>
  </div>
</div>
